.cross{
  margin-left: 40px;
  margin-right: 10px;
  z-index:1;
  display: inline-block;
  position: absolute;
  right: 0.3vw;
  padding: 3px;
}
.cross:hover{
  background-color: #ced1ff;
}
md-input-container{
  margin: 30px 10px 0 10px!important;
}
label{
  margin-top:20px!important;
}